<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href = "/css/style.css">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="width=device-width">
            <title>  VISUALIZATION PACKAGE</title>
            <link rel="stylesheet" href="/css/Treant.css">
            <link rel="stylesheet" href="/css/super-simple.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="js/Treant/raphael.js"></script>
            <script src="js/Treant/Treant.js"></script>
            <script src="js/Treant/super-simple.js"></script>
            <script src="js/DataStructure/BinarySearchTree/BinarySearchTree.js"></script>
            <script src="js/DataStructure/BinarySearchTree/Inserter.js"></script>
            <script src="js/DataStructure/BinarySearchTree/Deleter.js"></script>
            <script src="js/DataStructure/BinarySearchTree/Searcher.js"></script>
            <script src="js/DataStructure/BinarySearchTree/PreOrder.js"></script>
            <script src="js/DataStructure/BinarySearchTree/InOrder.js"></script>
            <script src="js/DataStructure/BinarySearchTree/PostOrder.js"></script>
            <script src="js/DataStructure/heap/heap.js"></script>
            <script src="js/DataStructure/heap/heap_inserter.js"></script>
            <script src="js/DataStructure/heap/heap_deleter.js"></script>
            <script src="js/DataStructure/Node.js"></script>
            <script src="js/DataStructure/NullNode.js"></script>
            <script src="js/controller.js"></script>

    </head>
    <body>
    


    

