{{>header}}
    

        <div>

                <form action="/BST" method="get">
                        <button > BST</button>
                </form> 

        </div>

         <div>

                <form action="/heap" method="get">
                        <button> heap</button>
                </form> 

        </div>

       

{{>footer}}
