{{>header}}
    
	 <div id ='top'>
        <input type="number" id ='text_input' >
        <button id='insert' onclick="add()"> Insert </button>
        <button id='delete' onclick="del()"> delete </button>

{{>footer}}
 <script src="js/Treant/raphael.js"></script>
 <script src="js/Treant/Treant.js"></script>
 <script src="js/Treant/super-simple.js"></script>
<script src="js/Tree/Tree.js"></script>
 <script src="js/Tree/BinarySearchTree.js"></script>
 <script src="js/controller.js"></script>
