{{>header}}
    

<div class="container">
   <div class="jumbotron" >
        <div>

                <form action="/BST" method="get">
                        <button class="btn btn-primary"> BST</button>
                </form> 

        </div>

         <div>

                <form action="/heap" method="get">
                        <button class="btn btn-primary"> heap</button>
                </form> 

        </div>
   </div>
</div>

       

{{>footer}}
